<div class="l-titlebar size_large color_alternate"><div class="l-titlebar-h i-cf"><h1>О Компании Энерготехника</h1></div></div><!-- MAIN -->
<div class="l-main">
    <div class="l-main-h i-cf">

        <div class="l-content g-html">




            <section class="l-section wpb_row height_medium color_custom imgsize_cover vc_row-fluid" style="background-color: #ffffff;color: #000000;"><div class="l-section-h g-html i-cf"><div class="g-cols offset_small"><div class=" one-half"><div class="wpb_text_column "><div class="wpb_wrapper"><img class="alignnone size-full wp-image-3737" src="wp-content/uploads/about.jpg" alt="Монтаж компрессоров BOGE от ККТ" width="600" height="450"><br>
            </div> </div> </div><div class=" one-half"><div class="wpb_text_column "><div class="wpb_wrapper">
                <p style="text-align: left;">Компания Энерготехника является официальным представителем BOGE Group на территории России и стран СНГ с 2004 года. Мы предлагаем поставку и сервис надежных компрессоров, ресиверов, магистральных фильтров, осушителей сжатого воздуха, конденсатоотводчиков, генераторов газов (азота и кислорода), сепараторов конденсата.</p>
            </div> </div> <div class="wpb_text_column "><div class="wpb_wrapper">
                <p style="text-align: left;">Благодаря гибкости и оперативности исполнения технических заданий, надежному бесперебойному сервису по оптимальным ценам, огромное количество промышленных предприятий уже стали нашими постоянными Заказчиками.</p>
            </div> </div>


                <div class="wpb_text_column ">

                    <div class="wpb_wrapper">

                        <p>Компрессоры и осушители SOLIDair (второй бренд немецкой компании BOGE) - надежное компрессорное оборудование по еще более демократичным ценам.</p>

                    </div>
                </div>



                <div class="wpb_text_column ">

                    <div class="wpb_wrapper">

                        <p>Мы обеспечиваем гарантированное сервисное обслуживание всех поставленных компрессоров и осушителей, обеспечиваем постоянное поддержание запчастей на складе. Бесперебойно  снабжаем запчастями, фильтрами и маслами со своих складов в России, оперативное сервисное реагирование. Постоянно работает бесплатная техническая поддержка Заказчиков.</p>

                    </div>
                </div>



                <div class="wpb_text_column ">

                    <div class="wpb_wrapper">

                        <p>Опытные инженеры компании, прошедшие обучение на заводе в Германии, производят полный спектр сервисного гарантийного и постгарантийного обслуживания оборудования, капитальный и текущий ремонт компрессоров.</p>

                    </div>
                </div>


                <div class="wpb_text_column ">

                    <div class="wpb_wrapper">

                        <p>Мы участвуем в аукционах, в тендерах, электронных закупках, в т.ч. для государственных нужд.</p>

                    </div>
                </div>

                <div class="wpb_text_column ">

                    <div class="wpb_wrapper">

                        <p>Наша организация аккредитована на центральных торговых площадках:

                        <ul>
                            <li>Сбербанк-АСТ <a href="http://www.sberbank-ast.ru" target="_blank">(www.sberbank-ast.ru)</a></li>


                        <li>Электронная площадка России <a href="http://www.rts-tender.ru" target="_blank">(www.rts-tender.ru)</a></li>

                        <li>Единая электронная торговая площадка <a href="http://www.roseltorg.ru" target="_blank">(www.roseltorg.ru)</a></li>


                        <li>Система Электронных Торгов <a href="http://www.zakazrf.ru" target="_blank">(www.zakazrf.ru)</a></li>


                        <li> ЭТП «ММВБ — ИТ» <a href="http://aetp.ru/" target="_blank">(www.aetp.ru)</a></li>

                    </ul>





                           </p>

                    </div>
                </div>



                <div class="wpb_text_column ">

                    <div class="wpb_wrapper">

                        <p>Мы поможем вам составить техническое задание для аукциона, оперативно обработаем ваши запросы и заявки на компрессорное оборудование. Предоставим демократичные цены, лучший сервис, быструю доставку, все необходимые документы и сертификаты. С нами приятно работать, менеджеры приветливо проведут с вами все индивидуальные согласования.</p>

                    </div>
                </div>



            </div>

            </div>

            </div>

            </section>



        </div>




        <aside class="l-sidebar at_right">
        </aside>

    </div>
</div>