<!-- MAIN -->
<div class="l-main">
    <div class="l-main-h i-cf">

        <div class="l-content g-html">


            <section class="l-section wpb_row height_auto width_full imgsize_cover vc_row-fluid"><div class="l-section-h g-html i-cf"><div class="g-cols offset_small"><div class=" full-width">
                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                    <div class="wpb_wrapper">

                        <a class="dg-widget-link" href="http://2gis.ru/moscow/firm/70000001017522662/center/37.564369,55.572616/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Москвы</a><div class="dg-widget-link"><a href="http://2gis.ru/moscow/center/37.564369,55.572616/zoom/16/routeTab/rsType/bus/to/37.564369,55.572616╎Торговая компания энерготехники?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Торговая компания энерготехники</a></div><script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":'100%',"height":300,"borderColor":0,"pos":{"lat":55.572616,"lon":37.564369,"zoom":16},"opt":{"city":"moscow"},"org":[{"id":"70000001017522662"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>


                    </div>
                </div> </div></div></div></section><section class="l-section wpb_row height_medium imgsize_cover vc_row-fluid"><div class="l-section-h g-html i-cf"><div class="g-cols offset_small"><div class=" one-third"><div class="wpb_text_column "><div class="wpb_wrapper">
            <h3>Контакты</h3>
        </div> </div> <div class="w-contacts"><div class="w-contacts-list"><div class="w-contacts-item for_address">

            <ul style="
    margin-left: 70px;
    margin-bottom: 0;
    margin-top: -50px;
">
                <li><span class="w-contacts-item-value">г.Москва, ул. Куликовская, д. 12</span></li>

                <li><span class="w-contacts-item-value">г.Краснодар, ул. Коммунаров, д. 266</span></li>
            </ul>





        </div><div class="w-contacts-item for_phone">

            <ul style="
    margin-left: 70px;
    width: 200px;
    margin-top: -50px;
">
                <li><span class="w-contacts-item-value">+7(495) 66-29-529</span></li>

                <li> <span class="w-contacts-item-value">+7(861) 255-08-48</span></li>
                <li>  <span class="w-contacts-item-value">+7(861) 251-87-43</span></li>
            </ul>




        </div><div class="w-contacts-item for_email"><span class="w-contacts-item-value"><a href="mailto:energotechnica@mail.ru">energotechnica@mail.ru</a></span></div></div></div></div><div class=" two-thirds"><div class="wpb_text_column "><div class="wpb_wrapper">
            <h3>Напишите нам</h3>
        </div> </div> <div class="wpb_text_column "><div class="wpb_wrapper"><div role="form" class="wpcf7" id="wpcf7-f4467-p9-o1" lang="ru-RU" dir="ltr">
            <div class="screen-reader-response"></div>
            <form class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="4467" />
                    <input type="hidden" name="_wpcf7_version" value="4.6.1" />
                    <input type="hidden" name="_wpcf7_locale" value="ru_RU" />
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4467-p9-o1" />
                    <input type="hidden" name="_wpnonce" value="e14d06fc29" />
                </div>
                <p>Ваше имя<br />
                    <span class="wpcf7-form-control-wrap text-160"><input type="text" name="fio" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </p>
                <p>Ваш e-mail (обязательно)<br />
                    <span class="wpcf7-form-control-wrap email-627"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
                <p>Ваша организация (обязательно)<br />
                    <span class="wpcf7-form-control-wrap text-185"><input type="text" name="org" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
                <p>Сообщение<br />
                    <span class="wpcf7-form-control-wrap textarea-248"><textarea name="text" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </p>
                <!--<div class="g-recaptcha" data-sitekey="6LeEmCIUAAAAANQcrl8vCJWKPBchWtU_MMiSlgZJ"></div>-->
                <p><input id="btn" type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit" /></p>
                <div class="wpcf7-response-output wpcf7-display-none"></div>



            </form></div></div> </div> </div></div></div></section>


        </div>


    </div>
</div>