<div class="l-titlebar size_large color_alternate"><div class="l-titlebar-h i-cf"><h1>{{headerBreadCrumb.subcategory.name}}</h1>

    <div class="g-breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">

		<span class="g-breadcrumbs-item">
					<a href="/">Главная</a>
		</span>
        <span class="g-breadcrumbs-separator"></span>

        <span class="g-breadcrumbs-item">
					<a href="/category?id={{headerBreadCrumb._id}}">{{headerBreadCrumb.name}}</a>
		</span>
        <span class="g-breadcrumbs-separator"></span>

        <span class="g-breadcrumbs-item">
            {{headerBreadCrumb.subcategory.name}}
		</span>


    </div>
</div></div>
<div class="l-main">

    <div class="l-main-h i-cf">


        <div class="l-content g-html">

            <section class="l-section for_shop">


                <div class="l-section-h i-cf">






                    <ul class="products">






                        {{> page/goods}}




                    </ul>


                </div>



            </section>



        </div>


    </div>



</div>